/*Custom CSS File */

html, body{
  height: 100%;
  width: 100%;
}

.row {
  margin: 0px !important;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 1.5em;
}

#splash-body-background {
  background-image: url("images/kitchen-cook-cooking.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 9em;
}

#body-container {
  border: 1px solid black;
  padding: 50px;
  height: 100%;
  width: 80%;
  padding: 10px;
  position: relative;
  margin-left: auto;
}

#header {
  height: 8em;
  background-color: #292548;
  display: flex;
  justify-content: center;
}

#myLogo {
width: 5.9em;
z-index: 1000;
}

#user-input-form{
  padding-top: 25px;
}

.form-header {
  margin-top: 2px;
}

.input-field {
  margin-bottom: 1em;
}
#form-header-text {
  font-size: 30px;
}

#splash-search-btn {
  width: 45%;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

#splash-next-btn {
  width: 100%;
}

#ingredientsLabel {
  margin-top: 30px;
}

.cardItemsLabelFront {
  margin-left: 10px;
  font-size: 12px;
}

#footer {
  height: 100px;
  margin-top: 0px;
  background-color: #292548;
}

.legal-line {
  font-size: 20px;
  color: black;
}
